.actionButton {
	margin-left: 5px;
	margin-right: 5px;
}
.adminInput {
	height: 100px;
	width: 400px;
}
#adminSubmitMsg, #userSubmitMsg {
	margin-left: 5px;
}
.adminText {
	font-weight: bold;
}
.codesnippet {
	background-color: #FFFFFF;
	border: 1px solid #001A60;
	font-family: 'Courier New', Courier, monospace;
	margin: 0 0 16px 16px;
	padding: 10px;
	width: 400px;
}
#instructions {
	border: 2px solid #000000;
	padding: 10px;
}
#instructions h2 {
	margin-top: 0;
}
#instructions li {
	padding-bottom: 10px;
}
#instructions ul, #instructions p {
	margin-bottom: 0;
}
.keyword {
	color: #892DDA;
}
.number {
	color: #0000FF;
}
.question {
	padding-bottom: 10px;
}
.string {
	color: #BB472E;
}
#submitWrapper {
	margin-top: 16px;
}